# Mængdeoperationer

> Udviklet af Thomas Lange & Mick Ahlmann Brun

Mere info: [https://github.com/M1ckB/T-SQL](https://github.com/M1ckB/T-SQL)

Version 1.0 2023-01-10

Laboratoriet kræver:

- En understøttet version af SQL Server
- En Stack Overflow database: [Brent Ozar](https://www.BrentOzar.com/go/querystack) (medium)

Læs mere om mængdeoperationer i Microsofts T-SQL reference:

- [UNION](https://learn.microsoft.com/en-us/sql/t-sql/language-elements/set-operators-union-transact-sql?view=sql-server-ver16)
- [EXCEPT og INTERSECT](https://learn.microsoft.com/en-us/sql/t-sql/language-elements/set-operators-except-and-intersect-transact-sql?view=sql-server-ver16)

## Indholdsfortegnelse

- [Introduktion til mængdeoperationer](#Introduktion-til-mængdeoperationer)
  - [UNION](#UNION)
  - [INTERSECT og EXCEPT](#INTERSECT-og-EXCEPT)
- [Hovedpointer](#Hovedpointer)

## Introduktion til mængdeoperationer

I T-SQL kan man lave mængdeoperationer mellem to tabel-resultater fra `SELECT`-forespørgsler.

Vi skal derfor have to fungerende `SELECT`-forespørgsler til rådighed for at kunne lave mængdeoperationerne.

- Der findes tre mængdeoperationer i T-SQL:
   - `UNION` (foreningsmængde)
   - `INTERSECT` (fællesmængde)
   - `EXCEPT` (differensmængde)

Use cases:

- Kombination af delresultater til et samlet resultat, fx oplysninger fra forskellige adm. systemer
- Fjernelse af udvalgte rækker fra en tabel, fx via en negativliste

De tre mængdeoperationer vil gennemgås nedenfor.

### `UNION`

`UNION` konkatenerer tabel-resultaterne af to `SELECT`-forespørgsler til et enkelt tabel-resultat (foreningsmængden).

Det er muligt at in- og ekskludere dubletrækker:

- `UNION ALL`: Inklusive dubletter
- `UNION`: Eksklusive dubletter

In [1]:
/* Nedenstående er et eksempel på hvorledes foreningsmængden mellem to SELECT-forespørgsler kan
findes ved brug af UNION- og UNION ALL-operationerne */

CREATE TABLE #TableA (
  Id int NOT NULL,
  Col int NOT NULL
);

INSERT INTO #TableA (Id, Col)
VALUES
(1, 5), 
(2, 6);

CREATE TABLE #TableB (
  Id int NOT NULL,
  Col int NOT NULL
);

INSERT INTO #TableB (Id, Col)
VALUES
(1, 5), 
(3, 7);

SELECT * FROM #TableA;
SELECT * FROM #TableB;

SELECT Id, Col FROM #TableA
UNION
SELECT Id, Col FROM #TableB;

SELECT Id, Col FROM #TableA
UNION ALL
SELECT Id, Col FROM #TableB;

DROP TABLE #TableA;
DROP TABLE #TableB;

/* Bemærk, at kolonnenavnet på tabel-resultatet bestemmes af første SELECT-forespørgsel i
UNION-operatoren. Derfor er det vigtigt at kolonnerne i de to SELECT-forespørgsler kommer i rigtig
rækkefølge. Det anbefales ikke at lavet SELECT * når man laver mængdeoperationer */

Id,Col
1,5
2,6

Id,Col
1,5
3,7

Id,Col
1,5
2,6
3,7

Id,Col
1,5
2,6
1,5
3,7

### *Tid til opgaver...*

Lav opgave 1, 2 (optional) og 3 i [opgavehæftet](Set-operators.sql).

### `INTERSECT` og `EXCEPT`

`INTERSECT` giver os distinkte rækker som findes i resultat-tabellerne fra både venstre `SELECT`-forespørgsel og højre `SELECT`-forespørgsel (fællesmængden).
  
`EXCEPT` giver os distinkte rækker fra venstre `SELECT`-forespørgsels resultat-tabel, som ikke findes i højre `SELECT`-forespørgsels resultat-tabel (differensmængden). Bemærk, at rækkefølgen mellem `SELECT`-forespørgslerne er afgørende for resultatet.

In [2]:
/* Nedenstående er et eksempel på hvordan INTERSECT og EXCEPT kan bruges til at finde henholdsvis
fælles- og differensmængden mellem to SELECT-forespørgsler */

CREATE TABLE #TableA (
  Id int NOT NULL,
  Col int NOT NULL
);

INSERT INTO #TableA (Id, Col)
VALUES
(1, 5), 
(2, 6);

CREATE TABLE #TableB (
  Id int NOT NULL,
  Col int NOT NULL
);

INSERT INTO #TableB (Id, Col)
VALUES
(1, 5), 
(3, 7);

SELECT * FROM #TableA;
SELECT * FROM #TableB;

SELECT Id, Col FROM #TableA
INTERSECT
SELECT Id, Col FROM #TableB;

SELECT Id, Col FROM #TableA
EXCEPT
SELECT Id, Col FROM #TableB;

DROP TABLE #TableA;
DROP TABLE #TableB;

/*
Bemærk, at...
UNION er virkelig god til at konkatenere tabeller med samme kolonner!
EXCEPT er virkelig god (uundværlig!) til at teste om to tabeller er ens! 
*/

Id,Col
1,5
2,6

Id,Col
1,5
3,7

Id,Col
1,5

Id,Col
2,6

### *Tid til opgaver...*

Lav opgave 4 og 5 i [opgavehæftet](Set-operators.sql).

## Hovedpointer

- Mængdeoperationer fungerer på resultat-tabeller fra to `SELECT`-forespørgsler
- Rækkefølgen af kolonner er vigtig, så undlad `SELECT * ...`!
- De tre mængdeoperationer i T-SQL:
  - `UNION` (og `UNION ALL`): Konkatenerer resultat-tabellerne med distinkte (og ikke-distinkte) rækker
  - `INTERSECT`: Finder distinkte rækker som findes i begge resultat-tabeller
  - `EXCEPT`:  Finder distinkte rækker i venstre resultat-tabel som ikke findes i højre resultat-tabel
- Stærke til fx konkatenering af tabellers indhold og til at finde forskelle mellem tabellers indhold
- Når der er flere mængdeoperationer i en forespørgsel, så evealueres de fra venstre mod højre

## Licens

Creative Commons Attribution-ShareAlike 4.0 International (CC BY-SA 4.0)

Mere info: [https://creativecommons.org/licenses/by-sa/4.0/](https://creativecommons.org/licenses/by-sa/4.0/)

Du kan frit:

- Dele: kopiere og distribuere materialet via ethvert medium og i ethvert format
- Tilpasse: remixe, redigere og bygge på materialet til ethvert formål, selv erhvervsmæssigt

Under følgende betingelser:

- Kreditering: Du skal kreditere, dele et link til licensen og indikere om der er lavet ændringer.
- Del på samme vilkår: Hvis du remixer, redigerer eller bygger på materialet, så skal dine bidrag
  distribueres under samme licens som den originale.